.link{
    gap: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: beige;
}

.navInterna{
    padding: 1.5rem;
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(-223deg,rgb(15, 36, 27) 0%, rgb(5, 18, 12)47%, rgb(3, 40, 25) 80% );
}
.searchBar{
    padding: 0.3rem;
    background-image: linear-gradient(-223deg,rgb(54, 153, 110) 0%, rgb(42, 165, 108)47%, rgb(79, 143, 117) 80% );
}
.btnAgregar{
    width: 50%;
    background-image: linear-gradient(-223deg,rgb(198, 51, 46) 0%, rgb(168, 50, 29)47%, rgb(142, 16, 16) 80% );
}

.btnAgregar:hover {
    background-image: linear-gradient(-223deg,rgb(42, 19, 194) 0%, rgb(73, 25, 124)47%, rgb(100, 79, 143) 80% );
  }
.inputSearch{
    width: 8rem;
    height: 2.5rem;
}
.divSearch{
    display: inline-flex;
}


   